@font-face {
  font-family: product-sans-regular;
  src: url('../fonts/Product-Sans-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: product-sans-regular, tahoma, sans-serif;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(0, 175, 255, 1) 27.9%, rgba(0, 224, 254, 1) 84.2%);
  /* display grid to centered container */
  display: grid;
}

.container {
  width: 100%;
  height: auto;
  /* margin auto related to display grid to centered */
  margin: auto;
  padding-bottom: 50px;
}

.title {
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.title h1 {
  margin: 0 20px 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.title img {
  width: 50px;
  height: 50px;
}

.container-contributors {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.contributors-card {
  height: 300px;
  width: 250px;
  min-width: 200px;
  min-height: 250px;
  padding: 30px 10px 40px 10px;
  margin: 30px;
  /* background-image: linear-gradient(0deg, rgba(0, 175, 255, 1) 27.9%, rgba(0, 224, 254, 1) 84.2%); */
  background-color: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  border: solid 1px black;
  transition: all .5s ease-in-out;
}

.contributors-card:hover {
  transform: scale(1.1);
}

.contributors-card .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.contributors-card:hover .picture::before {
  height: 100%;
}

.contributors-card .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.contributors-card .picture img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  border: 5px solid #1369ce;
  background-position: center center;
  object-fit: cover;
}

.contributors-card:hover .picture img {
  box-shadow: 0 0 0 14px yellow;
  transform: scale(0.7);
}

.contributors-content h4.role {
  color: #0000FF;
}

.contributors-content h4.role,
.contributors-content h3.name {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
